# ===========================================
# AMBIENTE DE EXECUÇÃO
# ===========================================
# Valores possíveis: development, homologation, production
NODE_ENV=development

# ===========================================
# DESENVOLVIMENTO (localhost)
# ===========================================
DEV_DB_HOST=127.0.0.1
DEV_DB_PORT=3306
DEV_DB_USER=root
DEV_DB_PASSWORD=D05m09@123
DEV_DB_NAME=cardbrazil

# ===========================================
# HOMOLOGAÇÃO
# ===========================================
DEV_DB_HOST=127.0.0.1
DEV_DB_PORT=3306
DEV_DB_USER=root
DEV_DB_PASSWORD=D05m09@123
DEV_DB_NAME=cardbrazil

# ===========================================
# PRODUÇÃO
# ===========================================
DEV_DB_HOST=127.0.0.1
DEV_DB_PORT=3306
DEV_DB_USER=root
DEV_DB_PASSWORD=D05m09@123
DEV_DB_NAME=cardbrazil

# ===========================================
# CONFIGURAÇÃO JWT (todas os ambientes)
# ===========================================
JWT_SECRET=sua_chave_secreta_super_segura_aqui_mude_em_producao
JWT_EXPIRES_IN=1h
REFRESH_TOKEN_EXPIRES_IN=7d

# ===========================================
# CONFIGURAÇÃO DA API
# ===========================================
NEXT_PUBLIC_API_URL=http://localhost:3000
